@import "normalize";
@import "settings";
@import "foundation";

body {
  border-top: 4px solid $primary-color;
}

pre {
  margin-bottom: rem-calc(22);
}

.main {
  margin: auto;
  max-width: rem-calc(700);
}

.site-title-area {
  @extend .text-center;
  margin-top: rem-calc(100);
  margin-bottom: rem-calc(100);
}

.post-meta {
  margin-bottom: 2rem;
}

.post-date {
  font-weight: bold;
}
