      <script src="//cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js"></script>
      <script src="//cdn.jsdelivr.net/fastclick/1.0.2/fastclick.js"></script>
      <script src="//cdn.jsdelivr.net/highlight.js/8.0/highlight.min.js"></script>
      <script src="//cdn.jsdelivr.net/foundation/5.3.3/js/foundation.min.js"></script>
      <script src="//cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js"></script>

      <script>hljs.initHighlightingOnLoad();</script>
    </div>
  </body>
</html>
