<nav class="top-bar" role="navigation">
  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/blog/">Blog</a>
      </li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="https://github.com/ndhoule/">GitHub</a></li>
      <li><a href="http://www.linkedin.com/in/ndhoule/">LinkedIn</a></li>
    </ul>
  </section>
</nav>
