{{> top }}
{{> blog-header }}

<div class="row">
  <div class="large-12 columns">
    <h2>{{ title }}</h2>

    <p class="post-meta">
      <span class="post-date">
        Published <time pubdate datetime="{{ formatUTCDate date }}">{{ formatDate date }}</time>
      </span>
    </p>

    <article>
      {{{ contents }}}
    </article>
  </div>
</div>

{{> bottom }}
